# Bower
components/*/*.json
components/*/*.txt
components/*/src
components/*/test
components/*/.jshintrc
components/*/*.md
components/*/LICENSE
components/*/Gruntfile.js
components/*/gulpfile.js
components/*/grunt
components/*/js
components/*/less
components/*/scss
components/*/.gitattributes
components/*/.gitignore
components/*/.npmignore
components/bootstrap/fonts
components/*/source
components/*/.editorconfig
components/*/.travis.yml
components/*/*.min.js.map
components/**/*.min.map
components/*/lib
components/*/*.min.js.gzip

#Idea
.idea
*.iml

#Node
node_modules
